@import './base.css';

#app {
  /* background-color: #ffcc66; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  padding: 0 2rem;
}

body {
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  background-color: #111111;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.intooltip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  /* align-items: center; */
}

.intooltip div {
  padding: 0rem 2rem;
}

.tooltip h1 {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1rem;
}

.tooltip h2 {
  font-size: 2rem;
}

.tooltip h3 {
  padding-bottom: 1rem;
}

.tooltip p {
  text-transform: lowercase;
}

img {
  max-width: 80%;
  height: auto;
  border-radius: 0.5rem;
}

g .tick text {
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

svg g g path.domain {
  fill: none;
  /* stroke-width: 15; */
  stroke: #ffffff;
  shape-rendering: crispEdges;
  border-radius: 1rem;
}

a,
.green {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
